[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
typer = {extras = ["all"], version = "*"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
isort = "*"
black = "*"
flake8 = "*"
pep8-naming = "*"
flake8-builtins = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-return = "*"
flake8-rst-docstrings = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
